/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*font-family: 'Shrikhand', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    max-width: 100%;
}

header {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
}

.site-title {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 65px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.arrow svg {
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: white;
}

.site-title h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
}

.search-town {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    height: 50px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
}

.search-town form input[type="text"] {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border: none;
    font-size: 15px;
    width: 110px;
    margin-left: 20px;
}

.reserv-menu {
    background-color: #f6f6f6 ;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.reserv-menu h1 {
    font-size: 20px;
    font-weight: 900;
    width: 60%;
}

.reserv-menu h2 {
    font-size: 15px;
    font-weight: 100;
    width: 80%;
}

.reserv-menu a {
    background: linear-gradient(to bottom right, #FF79DA ,#9356DC);
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    font-size: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    font-weight: bold;
}

.fonctionnement {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 440px;
}

.fonctionnement h1 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.fonctionnement-card {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    position: relative;
    height: 75px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    border-radius: 20px;
}

.fonctionnement-card:hover {
    background-color: #f5edff;
}

.fonctionnement-card:hover svg {
    fill: #9356DC;
}

.fonctionnement-card p {
    height: 15px;
    font-weight: 700;
}

.fonctionnement-card-number {
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    left: -10px;
}

.fonctionnement-card-number h6 {
    text-align: center;
}

.fonctionnement-card svg {
    margin-left: 40px;
}

.fonctionnement-card p {
    margin-left: 30px;
}

.restaurants {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.restaurants-bloc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurants a {
    color: black;
}

.restaurants h1 {
    width: 90%;
    margin: auto;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
}

.restaurants-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 90%;
    margin: auto;
    height: 250px;
    overflow: hidden;
    border-radius: 30px;
}


.restaurants a:nth-child(5){
    margin-bottom: 65px;
}

.restaurants-card img {
    position: relative;
    top: -40px;
    left: -15px;
    width: 105%;
}

.restaurants-card-body {
    height: 80px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurants-card-body-text {
    line-height: 25px;
    margin-left: 20px;
}

.restaurants-card-body-text h2 {
    font-size: 15px;
    font-weight: 900;
}

.restaurants-card-body-text h3 {
    font-weight: 500;
    font-size: 15px;
}

.restaurants-card-body-heart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
}

.svg1 {
    position: absolute;
    top: 33%;
    right: 50%;
}

.svg2 {
    position: absolute;
    top: 33%;
    right: 50%;
}

.restaurants-card-body-heart .svg2 {
    opacity: 0;
}

.restaurants-card-body-heart:hover .svg1 {
    opacity: 0;
}

.restaurants-card-body-heart:hover .svg2 {
    animation-duration: 1s;
    animation-name: heartfill;
    animation-fill-mode: forwards;
}


@keyframes heartfill {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.restaurants-card-new {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99e2d0;
    color: #39a98e;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

@keyframes loadernone {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

.restaurant-loader {
    position: fixed;
    top: 0px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation-name: loadernone;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

footer {
    height: 200px;
    background-color: #353535;
    color: white;
}

footer h3 {
    font-family: 'Shrikhand', cursive;
    width: 90%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer svg {
    margin-right: 13px;
    width: 15px;
    height: 15px;
    fill: white;
}

footer p {
    width: 90%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.menu {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    font-family: "Roboto", sans-serif;
}

.menu-img {
    height: 250px;
    overflow: hidden;
}

.menu-img img {
    width: 140%;
    left : -90px;
    position: fixed;
    overflow: hidden;z-index: -1;
}

.menu-name {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    z-index: 1;
}

.menu-name h1 {
    font-size: 25px;
}

.menu-heart:hover + .menu-fillheart {
    display: flex;
}

.menu-heart:hover {
    display: none;
}

.menu-fillheart {
    display: none;
}

.menu-bloc {
    width: 95%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 40px;
}

.menu-bloc-name {
    padding-bottom: 10px;
}

.border-green {
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;
}

@keyframes card-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.menu-bloc-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.menu-bloc:nth-child(2) .menu-bloc-card:nth-child(2) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(2) .menu-bloc-card:nth-child(3) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(2) .menu-bloc-card:nth-child(4) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(2) .menu-bloc-card:nth-child(5) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(3) .menu-bloc-card:nth-child(2) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(3) .menu-bloc-card:nth-child(3) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(3) .menu-bloc-card:nth-child(4) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(4) .menu-bloc-card:nth-child(2) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(4) .menu-bloc-card:nth-child(3) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}

.menu-bloc:nth-child(4) .menu-bloc-card:nth-child(4) {
    animation-name: card-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
}


.menu-bloc-card:hover .menu-bloc-card-valid {
    width: 60px;
}

.menu-bloc-card:hover svg {
    animation-name: validRotate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes validRotate {
    0% {
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.menu-bloc-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    padding-left: 12px;
}

.menu-bloc-card-body h2 {
    font-size: 15px;
    font-weight: bold;
}

.menu-bloc-card-body h3 {
    font-size: 12px;
}

.menu-bloc-card-animate {
    display: flex;
}

.menu-bloc-card-price {
    padding-top: 45px;
    padding-right: 20px;
    font-size: 12px;
}

.menu-bloc-card-valid {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 0px;
    background-color: #99e2d0;
    border-radius: 0px 20px 20px 0px;
    transition: width 2s;
}

.menu-bloc-card-animate:hover .menu-bloc-card-valid {
    width: 60px;
}

.menu-bloc-card-animate:hover svg {
    animation-duration: 3s;
    animation-name: rotatesvg;
}

@keyframes rotatesvg {
    from {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(720deg);
    }
}

.menu-commande {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-family: "Roboto", sans-serif;
}

.menu-commande button {
    background: linear-gradient(to bottom right, #FF79DA ,#9356DC  );
    height: 50px;
    width: 190px;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    font-weight: bold;
}

@media screen and (min-width : 768px) {
    .restaurants-card img {
        top: -250px;
    }
}

@media screen and (min-width : 992px) {
    .fonctionnement {
        display: flex;
        align-items: center;
    }
    .fonctionnement-card {
        width: 900px;
    }
    .restaurants {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-shrink: 2;
    }

    .restaurants h1 {
        text-align: center;
    }

    .restaurants-card {
        width: 445px;
    }
    .restaurants-card img {
        top: -80px;
    }

    .menu-bloc {
        width: 900px;
        margin-top: 30px;
    }
}
